@import 'components/components';

.container,
.testimonials,
.grid-container {
  width: max(325px, 82vw);
  margin-inline: auto;
}

.flex {
  display: flex;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.nav {
  margin-top: 35px;
}

.header {
  margin-top: 45px;
}

.testimonials {
  margin-top: 4rem;
}

.cta {
  margin-top: 3rem;
}
