@media (min-width: 768px) {
  // LAYOUT:

  .sm\:container {
    width: auto;
    margin: 0;
  }

  .container,
  .md\:grid-container,
  .grid-container {
    margin-inline: auto;
    width: 90vw;
  }

  .testimonials {
    width: 100%;
  }

  .md\:grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow: dense;
  }

  .header_img {
    grid-column: 7 / 13;
  }

  .header_text {
    grid-column: 1 / 6;
    margin: 0;
  }

  .boxes_text {
    grid-column: 1 / 6;
  }

  .boxes_container {
    grid-column: 7 / 13;
    margin: 0;
  }

  // COMPONENTS:

  .nav {
    &_open,
    &_close {
      display: none;
    }

    &_list {
      display: flex;
      gap: 1rem;
    }

    &_link {
      font-weight: 600;
      font-size: var(--fs-400);
    }

    .btn {
      display: block;
    }
  }

  .header {
    text-align: left;

    &::before {
      background-image: url(../images/bg-tablet-pattern.svg);
      background-position: 50vw -100px;
    }
  }

  .main {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 25%;
      height: 100%;
      z-index: -1;

      background-image: url(../images/bg-tablet-pattern.svg);
      background-repeat: no-repeat;
      background-position: right center;
    }
  }

  .cta {
    background-image: url(../images/bg-simplify-section-desktop.svg);
    background-size: cover;
  }

  .slider {
    &_slide {
      position: relative;
      flex: 1 0 33.33%;
      align-self: stretch;

      padding: 2rem;

      & + & {
        margin-inline-start: 1rem;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 70px;
        bottom: 0;
        background-color: $Very-Light-Gray;
        z-index: -1;
      }

      p {
        font-size: var(--fs-300);
      }
    }
  }

  .footer {
    // Layout:

    &_logo {
      grid-column: 1 / 4;
      grid-row: 1 / 2;

      transform: scale(1);
    }

    &_logo,
    .social {
      justify-self: start;
    }

    .social {
      grid-column: 1 / 4;
      grid-row: 2 / 3;

      justify-content: space-between;
    }

    #nav-left {
      grid-column: 4 / 6;
      grid-row: 1 / 3;
    }
    #nav-right {
      grid-column: 6 / 8;
      grid-row: 1 / 3;
    }

    form {
      grid-column: 8 / 13;
      grid-row: 1 / 2;
    }

    form,
    &_copyright {
      justify-self: end;
    }

    &_copyright {
      grid-column: 8 / 13;
      grid-row: 2 / 3;

      align-self: end;
    }
  }

  .attribution {
    margin-top: 2rem;
  }
}

@media (min-width: 992px) {
}
