.boxes {
  font-size: var(--fs-400);
  line-height: 1.8;

  &_text {
    text-align: center;
    p {
      margin-top: 1rem;
    }
  }

  &_box {
    margin-top: 3rem;
    padding-inline-start: 1rem;

    .flex {
      position: relative;
      gap: 1rem;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 50px;
        right: 0;
        height: 100%;
        z-index: -1;

        background-color: rgba($color: $Bright-Red, $alpha: 0.12);
      }
    }

    p {
      margin-top: 0.8rem;
      padding-inline-end: 1rem;
    }
  }
}

.pill {
  padding: 0.45rem 1.55rem;
  border-radius: 20px;

  color: $Very-Light-Gray;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  background-color: $Bright-Red;
}
